doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    script(src="/js/modernizr.js
    script(src="/js/jquery-1.10.2")
    block scripts
